
# Ignore test coverage artifacts
*.coverage

# Ignore pip install artifacts
*.egg-info/

# Temporary folders
*tmp/

# Rust build artifacts
*target

# Ignore IDE specific files
.vscode/

# Python bytecode files
__pycache__/
